<div class="container mt-5">
  <div class="card w-100 " style="width: 18rem;padding:30px;">
    <%= render 'posts/postshowtop'%> 
      <div class="card-body">
        <div class="form-group mb-5">
          <%= form_with model:[@post, @comment] do |form|  %>
            <%= form.text_area :content ,class:"form-control",placeholder:"今日は役満振り込んだ...。" %>
            <%= form.hidden_field :post_id, :value => params[:post_id] %>
            <%= form.submit "つぶやく",class:"btn btn-info mt-2"%>
          <% end %>
        </div> 
        <div>
          <% @comments.preload(:user).each do |comment| %>
            <p><hr>
            <%= comment.user.username %>
            <div style="font-size:12px; color: #808080;"><%= l comment.created_at %></div>
            </p> 
            <%= safe_join(comment.content.split("\n"),tag(:br)) %>
          <% end %> 
        </div>
      </div>
    <!-- ページネーション -->
    <div class="mx-auto mt-5" style="width: 200px;">
      <%= paginate @comments %>
    </div>
  </div>
</div>