<div class="container mt-5">
  <div class="card w-100 " style="width: 18rem;padding:30px;">
    <%= render 'posts/postshowtop'%> 
      <div class="card-body">
        <div class="form-group mb-5">
          <%= form_with model:[@post, @comment] do |form|  %>
            <%= form.text_area :content ,class:"form-control",placeholder:"今日は役満振り込んだ...。" %>
            <%= form.hidden_field :post_id, :value => params[:post_id] %>
            <%= form.submit "つぶやく",class:"btn btn-primary mt-2"%>
          <% end %>
        </div>
      <h4>
      【コメント一覧】
      </h4>
        <div>
          <% @comments.each do |comment| %>
            <p><hr>
            <img  height="40" src="<%= comment.user.image %>">
            <%= comment.user.username %>
            <%= l comment.created_at %>
            </p> 
            <%= comment.content %>
          <% end %> 
        </div>
      </div>
  </div>
</div>

