<div class="container mt-5">
<div class="text-center mb-5"><h2>初心者おすすめランキングTOP５</h2></div>
	<% @sortReviewAverage.first(5).each do |post|%>
  <%post = @posts.find(post[0])%>
		<div class="card">
			<div class="row no-gutters"style="margin: 30px">
			<div class="col-md-4 my-auto">
				<%= link_to post_path(post) ,class: "Editlink" do%>
				<img class="card-img" src="<%= post.image %>">
			</div>
				<div class="col-md-8">
					<div class="card-body">
					<h4 class="card-title"><%= post.title %></h4>
					<div style="color: #808080;"><%= Prefecture.find(post.prefecturecode).name %><%= post.address1 %><%= post.address2 %><%= post.address3 %></div>
					<%end%>
					<hr>
					<!--星評価-->
						<div id="star-rate-<%= post.id %>">
							<script>
							$('#star-rate-<%= post.id %>').raty({
							size: 36,
							starOff:  '<%= asset_path('star-off.png') %>',
							starOn :  '<%= asset_path('star-on.png') %>',
							starHalf: '<%= asset_path('star-half.png') %>',
							half: true,
							readOnly: true,
							score: `<%= post.reviews.average(:star).to_f.round(1) %>`,      
							})
							</script>	
							<strong style="font-size:23px;"><%=post.reviews.average(:star).to_f.round(1)%></strong>
							<i class="fa fa-comment" aria-hidden="true"></i> <%=post.reviews.count%>件
						</div>
					<div class="mt-3"><%= post.content.truncate(100) %></div>
					<!--星評価-->
					</div>
				</div>							
			</div>
		</div><p>
	<% end %>
</div>
