<%= form_with model: @post do |f| %>
    <label>店名<%= f.text_field :title    %></label>
    <label>画像<%= f.file_field :image    %></label>
    <label>内容<%= f.text_area  :content  %></label>
    <%=f.submit '投稿する' %>
<% end %>

<div class="container mt-5">
  <div class="row ">
    <% @posts.each do |post|%>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <%= link_to post_path(post) ,class: "Editlink" do%>
          <div class="card border-dark h-100">
            <img class="card-img-top" src="<%= post.image %>">
            <div class="card-body">
              <div class="card-title">
                <h5><%= post.title%></h5>
              </div>
              <p class="card-text">
                <%= post.content%>
              </p>  
            </div>
          </div>  
        <%end%>
      </div>
    <%end%>
  </div>
</div>

<div id="rateYo"></div>
