<!-- ログイン時 -->
<%
=begin%>
 <% if user_signed_in? %>  
<%
=end%>

  <div class="container mt-5">
    <h3><strong><i class="fa fa-circle small"  style="color:#17a2b8;"></i> 新着雀荘</h3></strong>
      <div class="border rounded" style="padding:50px;background-color:white;margin-bottom:50px;"> 
        <div class="row">
          <% @posts.each do |post|%>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <%= link_to post_path(post) ,class: "Editlink" do%>
                <div class="card border-dark h-100">
                  <img class="card-img-top" src="<%= post.image %>">
                  <div class="card-body">
                    <div class="card-title">
                      <h5><strong><%= post.title%></strong></h5>
                    </div>
                    <p class="card-text">
                      <%= post.content.truncate(100)%>
                    </p>  
                  </div>
                </div>  
              <%end%>
            </div>
          <%end%>
        </div>
      </div>
  </div>

  <!-- youtube動画 -->
 <%
=begin%>
 <div class="container" style="margin-bottom:150px;">
    <h3>Mリーグ最新動画</h3>
      <div class="border rounded" style="padding:50px;background-color:white;">
        <% @youtube_data.items.each do |item| %>
          <% snippet = item.snippet %>
            <div class="youtube">
              <iframe src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          <h4 style="padding:30px;"><%= snippet.title %></h4>
        <% end %>
      </div>
  </div>   
<%
=end%>
   
  <div class="container mb-5">
    <div class="row">
      <!-- 新着のコメント -->
      <div class="col-xs-12 col-md-4">  
        <h3><strong><i class="fa fa-circle small"  style="color:#17a2b8;"></i> 雀活</h3></strong>
        <div class="border rounded" style="padding:50px;background-color:white;">
          <% @comments.each do |comment| %>
            <p>
            <hr>
              <img  class = "icon_image" height="40" src="<%= comment.user.image %>">
              <%= comment.user.username %>
              <%= l comment.created_at %>
            </p>
            <p>【<%= comment.post.title%>】</p>
            <%= safe_join(comment.content.split("\n"),tag(:br)) %>
          <% end %>
        </div>
      </div>

  <!-- 新着のレビュー -->
      <div class="col-xs-12 col-md-8">
        <h3><strong><i class="fa fa-circle small"  style="color:#17a2b8;"></i> 口コミ</h3></strong>
          <div class="border rounded" style="padding:50px;background-color:white;">
            <% @reviews.each do |review| %> 
              <div class="card mt-3" >
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div style="height: 10px;"><%= link_to  review.post.title ,post_path(review.post),class:"Editlink" %> の口コミ</div>
                      <hr>
                      <!--/星評価-->
                      <div id="star-rate-<%= review.id %>">
                        <script>
                          $('#star-rate-<%= review.id %>').raty({
                            size: 36,
                            starOff:  '<%= asset_path('star-off.png') %>',
                            starOn :  '<%= asset_path('star-on.png') %>',
                            starHalf: '<%= asset_path('star-half.png') %>',
                            half: true,
                            readOnly: true,
                            score: `<%= review.star %>`,             
                          })
                        </script>
                        <%= review.star %>
                      </div>
                      <!--/星評価-->
                  </li>
                  <li class="list-group-item">    
                    <%= safe_join(review.content.split("\n"),tag(:br)) %>
                  </li>    
                </ul>
              </div>
            <% end %> 
          </div>
      </div>
    </div>
  </div>
  

  <!-- ニュース -->
  <div class="container mb-5">
    <h3><strong><i class="fa fa-circle small"  style="color:#17a2b8;"></i> 麻雀ニュース</h3></strong>
      <div class="border rounded" style="padding:50px;background-color:white;">
        <p><a href="<%= @firstnews.href  %>"><%= @firstnews.text  %></a></p>
        <p><a href="<%= @secondnews.href %>"><%= @secondnews.text %></a></p>
        <p><a href="<%= @thirdnews.href  %>"><%= @thirdnews.text  %></a></p>
      </div>
  </div>
  
<!-- 非ログイン時 -->

 <%
=begin%>
 <% else %>

<div class="card" style="max-width: 100%;">
  <%= image_tag asset_path("PAK57_paiwouragaeshisi-pai",alt: "トップ画像" )%>
  <div class="card-img-overlay text-center"style="margin-top:200px;">
    <img height="150" src="/images/logo_transparent2.png" >  
    <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
    <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path,  method: :post,class: "nav-link" %> 
    <%= link_to user_twitter_omniauth_authorize_path do %>
      <i class="fab fa-twitter-square fa-2x"></i>
    <% end %>
  </div>
</div>


<div class="container-fluid mt-5">
  <div class="card-deck">
    <div class="card">
    <%= image_tag asset_path("Mobile feed-amico",alt: "トップ画像" )%>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag asset_path("Mobile feed-bro",alt: "トップ画像" )%>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag asset_path("World Children's Day-pana",alt: "トップ画像" )%>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> 

<% end %>

<%
=end%>
