<!-- いいね機能　-->

<!-- ログイン時いいね機能が使える　-->
<% if user_signed_in? %>

<div id="post_<%= @post.id %>">
  <% if current_user.liked_by?(@post.id) %>
    <td>
      <%= link_to  like_path(@post), class: "btn btn-light", method: :DELETE, remote: true do%>
        <i class="fa fa-heart unlike-btn"></i> いいね 
        <%= @post.likes.size %>
      <% end %>
    </td>
  <% else %>
    <td>
      <%= link_to  create_like_path(@post) , class: "btn btn-light",  method: :POST, remote: true do%>
        <i class="fa fa-heart like-btn"></i> いいね
        <%= @post.likes.size %>
      <% end %>
    </td>
  <% end %>
</div>

<!-- 非ログイン時、いいねボタンといいね数を表示。押下するとログインページに飛ばす -->
<% else %>

  <%= link_to  new_user_session_path, class: "btn btn-light" do%>
    <i class="fa fa-heart unlike-btn"></i> いいね 
    <%= @post.likes.size %>
  <% end %>

<% end %>
  