<div class="card-body">
  <div>
    <%= link_to "情報修正", edit_post_path(@post) %>
  </div>
  <div class="card-text">
    <h2><strong><%= @post.title %></strong></h2>
  </div>
  <div class="card-text">
    口コミ<%= @post.reviews.count%>件/<%=@post.reviews.average(:star).to_f.round(1)%>
  
    <!--合計の星レビューを表示-->
    <%= render 'posts/totalreviewstar'%>
  
  </div>
  <div class="card-text text-right">
    <div id="post_<%= @post.id %>">
    
    <!--いいね機能の表示-->
      <%= render 'posts/post' %>
    </div>
    <div>
      <%if @post.reviews.where(user_id:current_user).exists?%>
        <button class="btn btn-primary" disabled>口コミ投稿済み</button>
      <%else%>
        <%= link_to "口コミを書く", new_post_review_path(@post),class: 'btn btn-primary' %>
      <%end%>   
    </div>
  </div>
</div>

<div class="ml-4">
  <h5>
    <%= link_to "お店情報" ,post_path(@post)%>
    <%= link_to "雀活" ,post_comments_path(@post)%>
  </h5>
  <hr>
</div>