<div class="mx-auto" style="width: 400px;margin-top:70px;" >
    <%= search_form_for @q ,url: posts_path do |f| %>
      <%= f.search_field :title_cont ,class:"form-control mr-sm-2"%>
      <%= f.submit ("検索"),class:"btn btn-outline-success my-2 my-sm-0"%>
    <% end %>
  </div>

<div class="container mt-5">
	<h3>雀荘検索結果一覧</h3>
	<h5>検索結果<%=@q.result.count%>件</h5>
	<% @posts.each do |post|%>
		<div class="card">
				<div class="row no-gutters"style="margin: 30px">
						<div class="col-md-4 my-auto">
							<%= link_to post_path(post) ,class: "Editlink" do%>
							<img class="card-img" src="<%= post.image %>">
						</div>
						<div class="col-md-8">
							<div class="card-body">
									<h5 class="card-title"><%= post.title %></h5>
									<p><%= post.address %></p>
									<p><%= post.content %></p>
							</div>
							<%end%>	
						</div>							
				</div>
		</div>
	<% end %>
</div>
<!-- ページネーション -->
          <div class="mx-auto" style="width: 200px;">
            <%= paginate @posts %>
          </div>
