<div class="card col-sm-8 mx-auto mt-5 p-5"style="border-radius: 20px;">

    <div class="d-flex align-items-center">
    <h2><i class="fas fa-store"style="color:#17a2b8;"></i> <strong>店舗登録</strong></h2>
    <div class="ml-auto posts_button">
        <a class="btn btn-outline-info" href="/homes">ホームへ戻る</a>
    </div>
    </div><hr>

    <%= form_with model: @post do |f|  %>
    <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
            <%= f.label :title, '店舗名' %>
            <%= f.text_field :title, class: 'form-control',placeholder:"例：雀荘ホワイト"%>
        </div>
        <div class="form-group">
            <%= f.label :title, '郵便番号' %>
            <%= f.text_field :postalcode, class: 'form-control' ,placeholder:"例：549-1011"%>
        </div>
        <div class="form-group">
            <%= f.label :title, '都道府県 ' %>
            <%= f.collection_select :prefecturecode, Prefecture.all, :id, :name, {include_blank: "選択してください"}, {class: "form-control"}%>
        </div>
        <div class="form-group">
            <%= f.label :title, '住所１ ' %>
            <%= f.text_field :address1, class: 'form-control' ,placeholder:"市区　例：千代田区"%>
        </div>
        <div class="form-group">
            <%= f.label :title, '住所２ ' %>
            <%= f.text_field :address2, class: 'form-control' ,placeholder:"町村番地　例：有楽町1-1-1"%>
        </div>
        <div class="form-group">
            <%= f.label :title, '住所３ ' %>
            <%= f.text_field :address3, class: 'form-control' ,placeholder:"ビル名　例：ユウラクビル10F"%>
        </div>
        <div class="form-group">
            <%= f.label :phonenumber, 'TEL' %>
            <%= f.text_field :phonenumber, class: 'form-control',placeholder:"例：080-0000-0000" %>
        </div>
        <div class="form-group">
            <%= f.label :access, 'お店までのアクセス' %>
            <%= f.text_field :access, class: 'form-control' ,placeholder:"例：JR渋谷駅を降りて徒歩５分"%>
        </div>
        <div class="form-group">
            <%= f.label :openinghours, '営業時間' %>
            <%= f.text_field :openinghours, class: 'form-control' ,placeholder:"例：AM11:00~AM5:00"%>
        </div>
        <div class="form-group">
            <%= f.label :regularholiday, '定休日' %>
            <%= f.text_field :regularholiday, class: 'form-control' ,placeholder:"例：水曜定休日"%>
        </div>
        <div class="form-group">
            <%= f.label :gamefree, 'ゲーム代（フリー）' %>
            <%= f.text_field :gamefree, class: 'form-control' ,placeholder:"例：1G：350円"%>
        </div>
        <div class="form-group">
            <%= f.label :gameset, 'ゲーム代（セット）' %>
            <%= f.text_field :gameset, class: 'form-control' ,placeholder:"例：1卓 1時間1200円"%>
        </div>
        <div class="form-group">
            <%= f.label :content, 'お店の紹介' %>
            <%= f.text_area :content, class: 'form-control', rows:10%>
        </div>
        <div class="form-group mb-4">
            <%= f.label :image, 'イメージ画像' %>
            <%= f.file_field :image, class: 'form-control' %>
        </div>
        <%= f.submit '登録する', class: 'btn btn-info btn-block' %>
    <% end %>
</div>