<div class="container mt-5">
  <div class="card w-100" style="width: 18rem;padding:30px;">
    <%= render 'postshowtop'%>
    <div class="card-body">
      <strong><h4>【お店のコメント】</h4></strong>
        <p class="card-text mb-5"><%= @post.content %></p>

      <h4 class="mb-4">【店舗詳細】</h4>
      <div class="row">
        <div class="col-xs-12 col-md-6 mb-4">
          <img src="<%= @post.image %>" class="rounded mx-auto d-block" style="max-width: 100%;" alt="...">
        </div>
        <div class="col-xs-12 col-md-6">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">店舗名</th>
                <td><%= @post.title %></td>
              </tr>
              <tr>
              <tr>
                <th scope="row">住所</th>
                <td><%= @post.address %></td>
              </tr>
              <tr>
                <th scope="row">電話番号</th>
                <td><%= @post.phonenumber %></td>
              </tr>
              <tr>
                <th scope="row">アクセス</th>
                <td><%= @post.access %></td>
              </tr>
              <tr>
                <th scope="row">営業時間</th>
                <td><%= @post.openinghours %></td>
              </tr>
              <tr>
                <th scope="row">定休日</th>
                <td><%= @post.regularholiday %></td>
              </tr>
              <tr>
                <th scope="row">ゲーム代（セット）</th>
                <td><%= @post.gamefree %></td>
              </tr>
              <tr>
                <th scope="row">ゲーム代（フリー）</th>
                <td><%= @post.gameset %></td>
              </tr>
            </tbody>
          </table>    
        </div>  
      </div>

      <div class="border col-12">
        <br>
          <h5>【口コミ一覧】</h5>
          <div class="row text-center">
              <div class="col-md">
                <%= render 'reviewstar' %>
              </div>
          </div>
        <br>
      </div>
    </div>
  </div>
</div>

