<div class="container mt-5">
  <div class="card w-100">
    <%= render 'post_show_top'%>
    <div class="card-body">
      <h4 class="mb-4"><i class="fa fa-circle "  style="color:#17a2b8;"></i> <strong>お店のコメント</strong></h4>
        <p class="card-text mb-5"><%= safe_join(@post.content.split("\n"),tag(:br)) %></p>
      <h4 class="mb-4"><i class="fa fa-circle"  style="color:#17a2b8;"></i><strong> 基本情報</strong></h4>
      <div class="row">
        <div class="col-xs-12 col-md-5 mb-4">
          <img src="<%= @post.image %>" class="rounded mx-auto d-block" style="max-width: 100%;" alt="...">
        </div>
        <div class="col-xs-12 col-md-7">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">店舗名</th>
                <td><%= @post.title %></td>
              </tr>
              <tr>
              <tr>
                <th scope="row">郵便番号</th>
                <td>〒<%= @post.postalcode %></td>
              </tr>
              <tr>
                <th scope="row">住所</th>
                <td><%= Prefecture.find(@post.prefecturecode).name %> <%= @post.address1 %> <%= @post.address2 %> <%= @post.address3 %></td>
              </tr>
              <tr>
                <th scope="row">TEL</th>
                <td><%= @post.phonenumber %></td>
              </tr>
              <tr>
                <th scope="row">アクセス</th>
                <td><%= @post.access %></td>
              </tr>
              <tr>
                <th scope="row">営業時間</th>
                <td><%= @post.openinghours %></td>
              </tr>
              <tr>
                <th scope="row">定休日</th>
                <td><%= @post.regularholiday %></td>
              </tr>
              <tr>
                <th scope="row">セット代</th>
                <td><%= @post.gamefree %></td>
              </tr>
              <tr>
                <th scope="row">フリー代</th>
                <td><%= @post.gameset %></td>
              </tr>
            </tbody>
          </table>    
        </div>  
      </div>
    </div>
  </div>
</div>

