<div class="text-center mt-5">
<div class="container">
  <div class="card w-100" style="width: 18rem;">
    <div class="card-body">
      <div class="card-text">
        <h5><strong><%= @post.title %></strong></h5>
        <%= link_to "口コミ投稿", post_reviews_path(@post.id) %>
      </div>
        <div class="card-text">
          <div id="post_<%= @post.id %>">
            <%= render 'post' %>
          </div>
        </div>
    </div>
    
    <div>
    <%= link_to "店舗詳細" ,post_path%>
    <%= link_to "雀活" ,post_comments_path(@post)%>
    </div>
    
    
  <img class="card-img-top" width="100%" height="300"  src="<%= @post.image %>">
  <div class="card-body">
    
    <strong>お店のコメント</strong>
      <p class="card-text"><%= @post.content %></p>
    
    <%
=begin%>
 <hr>
      <p><strong>お店の詳細</strong></p>
    <hr>
      <p>店名：<%= @post.title %></p>
    <hr>
      <p>電話番号：<%= @post.shop_detail.phonenumber%></p>
    <hr>
      <p>お店までの道のり：<%= @post.shop_detail.access%></p>
    <hr>
      <p>営業時間：<%= @post.shop_detail.openinghours%></p>
    <hr>
      <p>定休日：<%= @post.shop_detail.regularholiday%></p>
    <hr>
      <p>ゲーム（フリー）：<%= @post.shop_detail.gamefree%></p>  
<%
=end%>


    <div class="border col-12">
        <br>
        <h5>口コミ一覧</h5>
        <div class="row">
            <div class="col-md">
                <% @reviews.each do |review| %> 
                  <p>  
                    <%= review.content %>
                    <%= review.user.email %>

                    <!--星評価-->
                    <div id="star-rate-<%= review.id %>"></div>
                      <script>
                      $('#star-rate-<%= review.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn :  '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: `<%= review.star %>`,
                      })
                      </script> 
                    <!--/星評価-->
                    <% #ログインユーザーとコメントを書いたユーザーが一致すれば表示 %>
                    <% if current_user.id == review.user_id %>
                      <%= link_to '削除', post_review_path(review.post.id, review.id) , method: :delete %>
                      <%= link_to '編集', edit_post_review_path(review.post.id,review.id) %>
                    <% end  %>                
                  </p>
                <% end %>
            </div>
        </div>
        <br>
    </div>
  </div>
</div>
</div> 



