<div class="text-center">
<p>詳細画面</p>
<%= link_to "口コミ投稿", post_comments_path(@post.id) %>

<div class="container">
<div class="card w-100" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-text"><strong><%= @post.title %></strong></h5>
    <% @comments.each do |comment| %>
    <%= comment.star%>
    <%end%>
  </div>
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%"><%= @post.image %></text></svg>
  <div class="card-body">
    
    <strong>お店のコメント</strong>
      <p class="card-text"><%= @post.content %></p>
    
 <hr>
      <p><strong>お店の詳細</strong></p>
    <hr>
      <p>店名：<%= @post.title %></p>
    <hr>
      <p>電話番号：<%= @post.shop_detail.phonenumber%></p>
    <hr>
      <p>お店までの道のり：<%= @post.shop_detail.access%></p>
    <hr>
      <p>営業時間：<%= @post.shop_detail.openinghours%></p>
    <hr>
      <p>定休日：<%= @post.shop_detail.regularholiday%></p>
    <hr>
      <p>ゲーム（フリー）：<%= @post.shop_detail.gamefree%></p> 


    <div class="border col-12">
        <br>
        <h5>口コミ一覧</h5>
        <div class="row">
            <div class="col-md">
                <% @comments.each do |comment| %> 
                  <p>  
                    <%= comment.content %>
                    <%= comment.user.email %>

                    <!--星評価-->
                    <div id="star-rate-<%= comment.id %>"></div>
                      <script>
                      $('#star-rate-<%= comment.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn :  '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: `<%= comment.star %>`,
                      });
                      </script>  
                    <!--/星評価-->

                    <% #ログインユーザーとコメントを書いたユーザーが一致すれば表示 %>
                    <% if current_user.id == comment.user_id %>
                      <%= link_to '削除', post_comment_path(comment.post.id, comment.id) , method: :delete %>
                      <%= link_to '編集', edit_post_comment_path(comment.post.id,comment.id) %>
                    <% end  %>                
                  </p>
                <% end %>
            </div>
        </div>
        <br>
    </div>
  </div>
</div>
</div> 



